@model dynamic

@{
}
<h1>welcome to restofus</h1>
<p>A simple application that demonstrates OAuth2 authentication.</p>
<p>please <a href="@Url.Action("signin", "account")">sign in</a> to get started</p>
