@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>OAuth2 Relying Application Demo</h2>
<p>To get started, log in using an OAuth2 Authorization Server:</p>
<p><a href="@Url.Action("Authorize", "Home")">sign in with rest-of-us</a></p>

