<!DOCTYPE html>
<html>
<head>
    <title>example client app</title>
</head>
<body>
    <header>
        demo of an oauth2 relying application
        <hr />
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        <hr />
    </footer>
</body>
</html>
