html {
    font-family: Trebuchet MS, Arial, helvetica, sans-serif;
}

header, section, footer {
    width: 960px;
    margin: 5px auto;
    padding: 10px;
}

header, footer {
    font-size: 0.8em;
    background-color: #ccceee;
]]}

form#signin-form label {
    width: 150px;
    float: left;
}
form#signin-form input[type=text] {
    padding: 2px;
}
    form#signin-form label input[type=checkbox] {
        position: relative;
        top: 2px;
    }
